@import 'variables';

@import '../../../node_modules/bootstrap/scss/bootstrap-reboot';

body {
	background: $background; 
}

.ultrasonic-font {
	background: #fff;
	padding: 10px;
	min-width: 100px;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	position: fixed;
	left: 0; 
}

.video-stream {
	display: flex;
	z-index: -1;
	top: 0;
	left: 50%;
	transform: translateX(-50%) rotate(90deg);
	position: absolute;
	&__image {
		max-width: 100%;
	}
}